* {
  margin: 0;
  padding: 0;
  border: none;
  -webkit-user-select: none; }

body {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAMAAAC6V+0/AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAAZQTFRFMzMzDBMatgEYWQAAABhJREFUeNpiYIADRjhgGNKCw8UfcAAQYACltADJ8fw9RwAAAABJRU5ErkJggg==);
  font: 28px/1em "Helvetica";
  color: #FFF;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-perspective: 1000px; }

::-webkit-scrollbar {
  width: 0px;
  height: 0px; }

div[name="app"] {
  -webkit-transform: scale(0.5) !important;
  -moz-transform: scale(0.5) !important;
  -ms-transform: scale(0.5) !important;
  -o-transform: scale(0.5) !important;
  transform: scale(0.5) !important;
  top: -524px;
  left: -160px; }

div[name="voteBtn1"], div[name="doneVoteBtn1"],
div[name="talk3"], div[name="searchLabel"],
div[id="34"], div[name="cancelSearch"],
div[name="scheduleBtn"], div[name="votingBtn"] {
  cursor: pointer; }

.normal {
  font-size: 16px;
  padding: 0.3em 1em;
  background: #e9b90f;
  display: inline-block;
  border-radius: 8px;
  border: 2px solid #f7f7f7;
  color: #222;
  position: absolute;
}

.switch {
  top: 70px;
  left: 10px;
}
.vote {
  top: 150px;
  left: 530px;
}
.swipe {
  top: 360px;
  left: 530px;
}
.search {
  top: 90px;
  left: 530px;
}